* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-size: 13px;
    font-weight: 400;
}

a,
a:active,
a:link {
    text-decoration: none;
}

html {
    font-size: 81.5%;

}

main {
    margin: 20px 0px;
}

.top-product h1 {
    font-size: 1.93rem;

}

.price.current-product-price strong {
    font-size: 25px;
    color: #fd475a;
}

.product-center .price {
    margin-bottom: 10px;
}

.product-center .price i {
    font-size: 2rem;
}

.product-center .freeship {
    background: #00483d 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 0 5px 0;
}

.product-center .freeship span {
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
}

.product-center .freeship i {
    font-size: 32px;
    margin: 2px 10px 2px 0;
    /* display: block; */
}


.product-option .item {
    display: block;
    width: 20%;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    position: relative;
}

.product-option .selected {
    border: 2px solid #00483d;
    padding: 4px;
}


/*selected*/

.options .form-check .form-check-input {
    display: block;
    min-width: 15px;
    height: 15px;
    border-radius: 12px;
    line-height: 12px;
    text-align: center;
    border: 1px solid #ccc;
    margin-right: 5px;
    margin-top: 2px;
    margin-left: 1px;
}

strong.mau {
    padding-left: 20px;
}

.selected span strong.price {
    color: #fd475a;
}

.form-check-input:checked[type=checkbox] {
    background-image: url(data:image/svg+xml,%3csvg );

}

.form-check-input:checked {
    background-color: #00483d !important;
    /* border-color: #0d6efd; */
}

.product-promotion {
    margin-bottom: 20px;
}

.product-promotion ul li .bag {
    display: inline-block;
    background: #f7941e 0% 0% no-repeat padding-box;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    padding: 2px 5px;
}

.product-promotion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-promotion ul li a{
    text-decoration: none;
    color: #061700;
}
.product-promotion ul li a:hover{
    text-decoration: none;
    color: #f7941e;
}
.promotion_office {
    color: black;
}

.promotion_office:hover {
    color: #f7941e;
    text-decoration: none;
}

.product-action {
    display: flex;
    padding: 0;
    justify-items: stretch;
}

.product-action .btnbuy {
    margin-right: 6px;
    display: block;
    text-align: center;
    color: #fff;
    padding: 4px 4px;
    /* flex-grow: 2; */
}

.product-action .btn-red {
    /* display:; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: transparent linear-gradient(180deg,#fd475a 0%,#bf1e2d 100%) 0% 0% no-repeat padding-box; */

    background-image: linear-gradient(to right, #f85032 0%, #e73827 51%, #f85032 100%);
    box-shadow: 0 4px 6px #00000029;
    border-radius: 3px;

    transition: 0.5s;
    background-size: 200% auto;
}

.product-action .btn-green {
    background-image: linear-gradient(to right, #48a72d 0%, #061700 51%, #48a72d 100%);
    box-shadow: 0 4px 6px #00000029;
    border-radius: 3px;
    transition: 0.5s;
    background-size: 200% auto;
}


.product-action .btn-orange {

    /* background: transparent linear-gradient(180deg,#ff990e 0%,#ff6801 100%) 0% 0% no-repeat padding-box; */
    background-image: linear-gradient(to right, #fe8c00 0%, #f83600 51%, #fe8c00 100%);
    box-shadow: 0 4px 6px #00000029;
    transition: 0.5s;
    background-size: 200% auto;
}

.product-action .btn-icon {
    border-radius: 4px;
    padding: 5px 3px 5px 0;
    font-size: 22px;
    position: relative;
    width: 10px;
    max-width: 40px;
    min-width: 40px;
    width: 40px;
    flex-grow: 1;
}

.product-action .add-cart {
    width: 100px;
    min-width: 100px;
}

.product-action .add-cart i {
    font-size: 30px;
}

.product-action .btn-red:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.product-action .btn-green:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.product-action .btn-orange:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.product-promotion .label {
    font-size: 14px;
    line-height: 28px;
}
.product-promotion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fa-solid.fa-check{
    color: #009a82;
    font-size: 20px;
}

.product-shop {
    background: #fff 0% 0% no-repeat padding-box;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.product-shop .check-stock .store ul li label strong a {
    color: #009981;
}
.product-shop .check-stock .store ul li a {
    margin-top: 2px;
    font-weight: bold;
    color: #222;
}
i.fa-solid.fa-shield-halved{
    color: #04a748;
    margin-right: 5px;
}
.product-details .product-shop {
    min-width: 280px;
    max-width: 280px;
    margin-left: 15px;
}
.product-shop .warranty h4 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: bold;
}
.product-shop .warranty p {
    line-height: 1.2;
    margin: 0 0 5px 20px;
    padding: 0;
    font-size: 12px;
    display: flex;
}
.product-shop .check-stock .city .button {
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 4px 6px #00000029;
    border: 1px solid #999;
    border-radius: 4px;
    display: block;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
    color: #111;
    cursor: pointer;
    margin-bottom: 10px;
}
.product-shop .check-stock .city .list {
    position: absolute;
    top: 54px;
    width: 100%;
    display: none;
}
.product-shop .check-stock ul li.instock {
    display: block;
}
.product-shop .check-stock .store ul li {
    margin-bottom: 10px;
    display: flex;
}

.product-shop .check-stock .store {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    overflow-y: auto;
    height: 540px;
    flex-grow: 2;
}
.product-shop .out-date {
    border: 1px solid #009a82;
    border-radius: 5px;
    /* margin:  5px; */
    padding: 10px;
    font-size: 12px;
    margin-top: 20px;

}
.out-date .title strong a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.out-date .title strong a:hover {
    text-decoration: none;
    color:#009a82;
}
.text-red {
    color: #fd475a;
}

/*tùy chình scroll*/
* {
    scrollbar-width: thin;
    scrollbar-color: black ;
  }
  
  /* Tùy chỉnh thanh cuộn trên Chrome, Edge, và Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(90, 89, 89);
    border-radius: 20px;
    border: 3px solid white;
  }